Spłaszczenie indeksów hierarchicznych (MultiIndex) w Pandas.

In [19]:
import numpy as np
import pandas as pd


arrays = [['group_a', 'group_a', 'group_b', 'group_b', 'group_b', 'group_c'],
          ['one', 'two', 'one', 'two', 'three', 'one']]

tuples = list(zip(*arrays))

cols = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

index = pd.MultiIndex.from_tuples([('a', 'a'), ('a', 'b'), ('b', 'a')], names=['foo', 'bar'])

df = pd.DataFrame(np.random.randn(3, 6), index=index, columns=cols)
df

first     group_a             group_b                       group_c
second        one       two       one       two     three       one
foo bar
a   a   -0.836002 -1.368972 -1.223625  1.043264  0.947463  1.004504
    b    0.669385  1.014749 -0.754021  0.417427  0.006548  0.529405
b   a   -0.213305  1.817328  0.756040 -0.455419 -0.233054  0.434982

### Spłaszczanie kolumn

In [15]:
df.columns = ['_'.join(c) for c in df.columns]
df

         group_a_one  group_a_two  group_b_one  group_b_two  group_b_three  \
foo bar
a   a       0.844372    -0.420295    -2.083568     0.283192      -0.916388
    b      -2.064209     0.186708     0.820550    -1.266257       0.882968
b   a       0.850927     1.105630    -1.524011    -1.159488       0.147265

         group_c_one
foo bar
a   a      -0.004215
    b      -1.253361
b   a       2.205868

### Spłaszczanie indeksu

In [17]:
df.index = ['_'.join(c) for c in df.index]
df

,group_a_one,group_a_two,group_b_one,group_b_two,group_b_three,group_c_one
a_a,0.844372,-0.420295,-2.083568,0.283192,-0.916388,-0.004215
a_b,-2.064209,0.186708,0.820550,-1.266257,0.882968,-1.253361
b_a,0.850927,1.105630,-1.524011,-1.159488,0.147265,2.205868