Uzupełnianie braków w datach

In [4]:
from datetime import datetime
import pandas as pd

In [5]:
df = pd.DataFrame(
    [
        [datetime(2019, 1, 1), 1],
        [datetime(2019, 1, 4), 1],
        [datetime(2019, 2, 1), 1],
        [datetime(2019, 4, 1), 1],
    ]
,columns=['dttm', 'value'])

df.head()

        dttm  value
0 2019-01-01      1
1 2019-01-04      1
2 2019-02-01      1
3 2019-04-01      1

In [6]:
df.groupby(pd.Grouper(key='dttm', freq='MS')).sum()

            value
dttm
2019-01-01      2
2019-02-01      1
2019-03-01      0
2019-04-01      1