Uzupełnianie braków w datach

In [1]:
from datetime import datetime
import pandas as pd

In [4]:
df = pd.DataFrame(
    [
        [datetime(2019, 1, 1), 1, 'a'],
        [datetime(2019, 1, 4), 1, 'b'],
        [datetime(2019, 2, 1), 1, 'a'],
        [datetime(2019, 4, 1), 1, 'b'],
    ]
,columns=['dttm', 'value', 'flag'])

df.head()

        dttm  value flag
0 2019-01-01      1    a
1 2019-01-04      1    b
2 2019-02-01      1    a
3 2019-04-01      1    b

Dla zwykłego grupowania wystarczy skorzystać z klasy Grouper

In [5]:
df.groupby(pd.Grouper(key='dttm', freq='MS')).sum()

            value
dttm
2019-01-01      2
2019-02-01      1
2019-03-01      0
2019-04-01      1

Ze względu na błąd Pandas [link](https://github.com/pandas-dev/pandas/issues/28572) Grouper w pivot_table pomija nie występujące zakresy.

In [19]:
df.pivot_table(index=pd.Grouper(key='dttm', freq='M'), columns='flag', fill_value=0)

           value
flag           a  b
dttm
2019-01-31     1  1
2019-02-28     1  0
2019-04-30     0  1

Naprawić można to, po zrobieniu pivota, wykonać reindex na indeksach / kolumnach

In [29]:
date_range = pd.date_range(start=datetime(2019, 1, 1), end=datetime(2019, 5, 1), freq='M')

df.pivot_table(index=pd.Grouper(key='dttm', freq='M'), columns='flag', fill_value=0).reindex(date_range, axis=0, fill_value=0)

           value
flag           a  b
2019-01-31     1  1
2019-02-28     1  0
2019-03-31     0  0
2019-04-30     0  1