Sposób na wyświetlenie typów wszystkich elementów DataFrame'a.

In [10]:
import pandas as pd
df = pd.DataFrame([
    [1,'a', 2.3],
    [2, 'b', 0.1],
    ['3', 'c', 11]
], columns=['a', 'b', 'c'])
df

   a  b     c
0  1  a   2.3
1  2  b   0.1
2  3  c  11.0

In [9]:
df.applymap(lambda x: type(x).__name__)

     a    b      c
0  int  str  float
1  int  str  float
2  str  str  float